// Variables
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";
@import "vectors";
@import "candies";
@import "nav";

section.section{
  min-height: 100vh;
  padding-top: 64px;
  background-image: url(../assets/images/body-bg.png);
  background-attachment: fixed;
}


#inicio{
  height: 90vh;

  .container{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:10vh;
    z-index: 0;
  }
}

main{
  position: relative;
  z-index: 2;
}